<MudImage Fluid="true" Src="images/mony.jpg" Alt="Not found" Width="200" Elevation="25" Class="rounded-lg" FallbackSrc="images/fallback.jpg" />
<p>@Title</p>

@code {
    [Parameter]
    public required string Title { get; set; }
}